

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home</title>
</head>
<style>
.main-head button a{
  text-decoration: none;
}
.main-head button{
  padding:10px;
  border-radius: 5px;
  border: none;
  background: #0dd354;
}
.main-head button a{
  color: #fff;
  font-size: medium;
  font-weight: bold;
}
</style>

<body>
    <!-- <h1>mandar3319</h1> -->
    <div class="screen-play" id="home">
        
        <video autoplay loop muted plays-inline class="back-video">
            <source src="../static/video/video (1080p).mp4" type="video/mp4">
        </video>

        <nav  id="nav" class="navbar navbar-onscroll">
            <div>
                <h1> <span style="color: #fff">DISEASE</span>  DETECTION</h1>   
            </div>
            <div class="li-items"> 
                <ul>
                    <li><a href="#home">HOME</a></li>
                   <!-- <li><a href="/market">Supplements</a></li> -->
                 <!--  <button class="login-btn btn" onclick="showPopup()"><a href="">LOGIN</a></button>--> 
                </ul>
            </div>
        </nav>
        <div class="main-head">
            <center>
                <h1> <span style="color: #0dd354;"> Plant Leaf </span>  <br> Disease Detection </h1>
                <button> <a href="/index">Check Disease</a> </button>
            </center>
        </div>
    </div>

  <!--  <div class="process-sec" id="process">
        <center>
            <h1>Upload a Photo</h1>
            <div class="take-input-img">
                <form id="uploadForm">
                    <input type="file" id="imageInput"  style="margin-top: 15px;" accept="image/*">
                    <div id="imagePreview" style="margin-top: 15px;"></div>
                </form>
                <div id="preview"></div>
            </div>
         <!--  <button class="upload-btn btn"  style="margin: 10px;">Upload</button>
        -->        </center>
    </div> -->

    <footer>
        <div class="footer-content">
            <div class="footer-section contact">
                <h3>Contact Us</h3>
                <p>Email: teamplant88@gmail.com</p>
                <p>Phone: +91 7028351408</p>
           
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 plant disease recognition using image processing.</p>
        </div>
    </footer>
    
        
</body>
</html>


